<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.dubbo.mapper.PaymentLogMapper">

	<resultMap id="BaseResultMap" type="cn.com.dubbo.model.PaymentLogModel" >
	    <id column="order_payment_log_id" property="orderPaymentLogId" jdbcType="INTEGER" />
	    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
	    <result column="business_id" property="businessId" jdbcType="VARCHAR" />
	    <result column="order_payment_id" property="orderPaymentId" jdbcType="INTEGER" />
	    <result column="order_payment_name" property="orderPaymentName" jdbcType="VARCHAR" />
	    <result column="payment_no" property="paymentNo" jdbcType="VARCHAR" />
	    <result column="paid_fee" property="paidFee" jdbcType="NUMERIC" />
	    <result column="payment_time" property="paymentTime" jdbcType="VARCHAR" />
	    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
	    <result column="add_user_id" property="addUserId" jdbcType="INTEGER"/>
	    <result column="add_time" property="addTime" jdbcType="VARCHAR" />
	    <result column="edit_user_id" property="editUserId" jdbcType="INTEGER" />
	    <result column="edit_time" property="editTime" jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="savePaymentLog" parameterType="cn.com.dubbo.model.PaymentLogModel">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="orderPaymentLogId">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		INSERT INTO 
		order_payment_log (business_type,business_id,order_payment_id,
		order_payment_name,payment_no,paid_fee,payment_time,add_user_id,add_time
		) 
		VALUES(
		#{businessType},#{businessId},#{orderPaymentId},
		#{orderPaymentName},#{paymentNo},
		#{paidFee},#{paymentTime},#{addUserId},#{addTime}
		);
	</insert>
	
 	<insert id="saveBatchPayLog" parameterType="java.util.List">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="orderPaymentLogId">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		INSERT INTO
		order_payment_log (business_type,business_id,order_payment_id,
		order_payment_name,payment_no,paid_fee,payment_time,add_user_id,add_time
		) 
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
		(
		#{item.businessType},#{item.businessId},#{item.orderPaymentId},
		#{item.orderPaymentName},#{item.paymentNo},
		#{item.paidFee},#{item.paymentTime},#{item.addUserId},#{item.addTime}
		)
		</foreach>
	</insert>
	
	<select id="isLogByOrderNo" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT COUNT(business_id) FROM order_payment_log WHERE business_id=#{bussinessId}
	</select>
	
	<select id="queryLogsByOrderNo" resultMap ="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM order_payment_log WHERE business_id=#{bussinessId}
	</select>
	
	<select id="batchQueryOrderPayLog" parameterType="java.util.List" resultType="java.lang.String">
		SELECT DISTINCT(business_id) as businessId FROM order_payment_log WHERE business_id IN
		(
		<foreach collection="list" item="item" index="index" separator="," >
		 #{item.businessId}
		</foreach>
		);
	</select>

  <update id="updatePaymentLog_orderNo" parameterType="cn.com.dubbo.model.PaymentLogModel" >
    update order_payment_log
    set business_id = #{orderPaymentName}
    where business_id = #{businessId,jdbcType=VARCHAR}
  </update>
</mapper>